<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="stream-page-container" [hidden]="!isMissionOngoing">
    <div class="stream-display">
      <img [src]="videoFeedUrl" alt="Live Video Feed" />
      <div class="stream-label">Live Thermal Feed</div>
    </div>
  </div>

  <div class="container" [hidden]="isMissionOngoing">
    <div class="initial-state">
      <img src="assets/icon/search-icon.png" alt="Search Icon" class="search-icon">
      <h2 class="scanner-title">Thermal Scanner Ready</h2>
      <p class="scanner-subtitle">Start mission to begin thermal scanning</p>
    </div>
  </div>
</ion-content>